[Unit]
Description=Klassenarbeit An/Aus
DefaultDependencies=no
After=systemd-remount-fs.service resumeAus.service
Before=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/sbin/klassenarbeitAnAus

[Install]
WantedBy=sysinit.target
