[Desktop Entry]
Encoding=UTF-8
Comment[de]=Einstellungen zurücksetzen
Comment=Einstellungen zurücksetzen
Exec=/usr/bin/reset-netbook.sh
GenericName[de]=Reset
GenericName=Reset
Icon=yast-restore
MimeType=
Name[de]=Reset
Name=Reset
Path=/usr/bin/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
Categories=Utility;X-SanktAnsgar;X-Zubehör;X-Schulfächer;X-Allgemein;X-Netbook;
X-Desktop-File-Install-Version=0.16
