[Desktop Entry]
Comment[de_DE]=MimioStudio Notebook-Software
Comment=MimioStudio Notebook-Software
Comment[ar]=برنامج دفتر ملاحظات MimioStudio
Comment[ca]=Programari del MimioStudio Notebook
Comment[da]=MimioStudio Notesbog
Comment[el]=Λογισμικό MimioStudio Notebook
Comment[es]=Software de MimioStudio Notebook
Comment[eu]=MimioStudio Koadernoa softwarea
Comment[fi]=MimioStudio-muistikirjaohjelmisto
Comment[fr]=Logiciel Bloc-notes MimioStudio
Comment[he]=תוכנת MimioStudio Notebook
Comment[hi]=MimioStudio नोटबुक सॉफ़्टवेयर
Comment[hr]=Softver za MimioStudio Bilježnicu
Comment[hu]=MimioStudio Jegyzetfüzet szoftver
Comment[id]=Perangkat Lunak MimioStudio Notes
Comment[it]=Software Blocco note MimioStudio
Comment[ja]=MimioStudio Notebook ソフトウェア
Comment[ko]=MimioStudio 노트북 소프트웨어
Comment[ms]=Perisian Notebook MimioStudio
Comment[nl]=Software voor MimioStudio-Notitieboek
Comment[no]=MimioStudio Notatblokk
Comment[pl]=Oprogramowanie Notatnik MimioStudio
Comment[pt_BR]=Software do Bloco de anotações do MimioStudio
Comment[pt_EU]=Software Bloco de notas MimioStudio
Comment[ro]=Software Notebook MimioStudio
Comment[ru]=ПО блокнота MimioStudio
Comment[sk]=Softvér Poznámkový blok MimioStudio
Comment[sv]=Programvara för MimioStudio Anteckningsbok
Comment[tr]=MimioStudio Defter Yazılımı
Comment[vi]=Phần Mềm MimioStudio Notebook
Comment[zh_CN]=MimioStudio Notebook 软件
Comment[zh_TW]=MimioStudio 筆記本軟體
Exec="/var/opt/mimio/mimio-notebook" %f
GenericName[de_DE]=
GenericName=
Icon=mimio-notebook
MimeType=application/x-mimio-notebook;
Name[de_DE]=MimioStudio-Notebook
Name=MimioStudio Notebook
Name[ar]=دفتر ملاحظات MimioStudio
Name[ca]=MimioStudio Notebook
Name[da]=MimioStudio Notesbog
Name[el]=MimioStudio Notebook
Name[es]=MimioStudio Notebook
Name[eu]=MimioStudio Koadernoa
Name[fi]=MimioStudio Muistikirja
Name[fr]=Bloc-notes MimioStudio
Name[he]=MimioStudio Notebook
Name[hi]=MimioStudio नोटबुक
Name[hr]=MimioStudio Bilježnica
Name[hu]=MimioStudio Jegyzetfüzet
Name[id]=MimioStudio Notes
Name[it]=Blocco note MimioStudio
Name[ja]=MimioStudio Notebook
Name[ko]=MimioStudio 노트북
Name[ms]=Buku Nota MimioStudio
Name[nl]=MimioStudio Notitieboek
Name[no]=MimioStudio Notatblokk
Name[pl]=MimioStudio Notatnik
Name[pt_BR]=Bloco de anotações do MimioStudio
Name[pt_EU]=Bloco de notas MimioStudio
Name[ro]=Notebook MimioStudio
Name[ru]=Блокнот MimioStudio
Name[sk]=Poznámkový blok
Name[sv]=MimioStudio Anteckningsbok
Name[tr]=MimioStudio Defter
Name[vi]=Notebook MimioStudio
Name[zh_CN]=MimioStudio Notebook
Name[zh_TW]=MimioStudio 筆記本
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
