[Desktop Entry]
Name=SAS Canvas

X-KDE-PluginInfo-Name=SAS Canvas
X-KDE-PluginInfo-Author=Martin Ringwelski
X-KDE-PluginInfo-Email=ringwelski@gymsas.de
X-KDE-PluginInfo-License=GPLv2+
