[Desktop Entry]
Name=SAS Ground

X-KDE-PluginInfo-Name=SAS Ground
X-KDE-PluginInfo-Author=Martin Ringwelski
X-KDE-PluginInfo-Email=ringwelski@gymsas.de
X-KDE-PluginInfo-License=GPLv2+
