[Desktop Entry]
X-SuSE-translate=true
Name=Parley
MimeType=application/x-kvtml;
Exec=parley %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
Comment=A program to help you memorize things.
X-DBUS-ServiceName=org.kde.parley
GenericName=Vocabulary Trainer

