
[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Terminal=false
Name=Notebook Software
Comment=SMART Notebook Software
Exec="/opt/SMART Technologies/Notebook Software/bin/notebook" %f
Icon=SMART_Notebook.png
MimeType=application/x-smarttech-notebook;
Name[ca]=Programa Notebook
Comment[ca]=Programa Notebook
Name[de]=Notebook-Software
Comment[de]=Notebook-Software
Name[es]=Software de Notebook
Comment[es]=Software de Notebook
Name[eu]=Notebook softwarea
Comment[eu]=Notebook softwarea
Name[fi]=Notebook-ohjelmisto
Comment[fi]=Notebook-ohjelmisto
Name[fr]=Logiciel Notebook
Comment[fr]=Logiciel Notebook
Name[gl]=Software Notebook
Comment[gl]=Software Notebook
Name[it]=Software Notebook
Comment[it]=Software Notebook
Name[mk]=Софтвер Notebook
Comment[mk]=Софтвер Notebook
Name[nb]=Notebook-programvare
Comment[nb]=Notebook-programvare
Name[pt_BR]=Software Notebook
Comment[pt_BR]=Software Notebook
Name[ru]=Программа Notebook
Comment[ru]=Программа Notebook
Name[sq]=Softuer Notebook
Comment[sq]=Softuer Notebook
Name[sv]=Notebook-programmet
Comment[sv]=Notebook-programmet
Name[va]=Programari del Notebook
Comment[va]=Programari del Notebook
Name[zh_CN]=Notebook 软件
Comment[zh_CN]=Notebook 软件
Name[zh_TW]=Notebook Software
Comment[zh_TW]=Notebook Software
Name[el]=Λογισμικό Notebook
Comment[el]=Λογισμικό Notebook
Categories=X-Schulfächer;X-Allgemein;X-Zubehör;X-Himmelsthür;
X-Desktop-File-Install-Version=0.18
