[Desktop Entry]
Name=SAS Glow

X-KDE-PluginInfo-Name=SAS Glow
X-KDE-PluginInfo-Author=Martin Ringwelski
X-KDE-PluginInfo-Email=ringwelski@gymsas.de
X-KDE-PluginInfo-License=GPLv2+
